{  
    border: 1px, dashed;
    border-color: blueviolet;
}

html {
    background-color: rgb(27, 26, 26); 
    padding: 10px 20px;
  }

body {
    width: 360px;
    height: 580px;
    border-radius: 2%;
    align-content: center;
    font-family: Roboto, sans-serif;
    background-color: white;
    align-content: center;
}

.header {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-items: center;
}

    .profile-picture {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover; 
        margin-left: 10px;
        display: flex;
    }

    .user {
        margin-left: 5px;
        font-size: 14px;
    }

    .name {
        font-size: 13px;
    }

    .settings {
        font-size: 30px;
        margin-left: auto;
        margin-right: 15px;
    }

    .settings:hover {
        color: rgb(165, 25, 25);
    }

.photo {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    transition: box-shadow 0.3s ease; 
    cursor: pointer;   
    }

.image-button {
    padding: 0;
    background: none;
    border: none;
    outline: none;
    font-size: 30px;
    transition: color 0.3s ease;
    display: block;
}

.image-button:active {
    box-shadow: 
    0 -10px 15px -10px rgba(0, 0, 0, 0.7), /* Sombra superior */
    0 10px 15px -10px rgba(0, 0, 0, 0.7);  /* Sombra inferior */
}

.heart-back-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: rgb(165, 25, 25);
    opacity: 0; /* Oculto inicialmente */
    transition: opacity 0.3s ease;
    pointer-events: none; /* No afecta interacciones */
}

/* Ícono de fondo visible con transparencia */
.heart-back-icon.show {
    opacity: 0.5; /* Aparece con transparencia */
}

.iconsbar {
    width:100%;
    height: 8%;
    display: inline-flex;
    justify-content: left;
    align-items: center;
}

    .like {
        position: relative;
        margin-left: 10px;
        font-size: 30px;
        display: inline-block;
        cursor: pointer;
    }

    .like-button {
        padding: 0px;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 30px;
        transition: color 0.3s ease;
    }

/* Ícono de fondo para el botón "like" */
    .like-back-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        opacity: 0;
        transition: opacity 0.1s ease;
        pointer-events: none;
        cursor: none;
    }

   /* Ícono de fondo visible en color sólido */
    .like-back-icon.show {
    opacity: 1; /* Totalmente opaco */
    color: rgb(165, 25, 25); /* Rojo sólido */
}


    .like-button .fa-heart {
        transition: color 0.3s ease;
    }

    .like-button:hover .fa-heart {
        color: rgb(165, 25, 25);
    }

    .comment{
        font-size: 30px;
        margin-left: 7px;
    }

    .comment-button {
        padding: 0px;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 30px;
        transition: color 0.3s ease;
    }

    .comment-button:hover .fa-comment {
        color: rgb(165, 25, 25);
    }

    .sharewith {
        font-size: 30px;
        margin-left: 7px;
    }

    .sharewith button {
        padding: 0px;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 30px;
        transition: color 0.3s ea
    }

    .sharewith-button:hover .fa-paper-plane {
        color: rgb(165, 25, 25);
    }

    .keep {
        font-size: 30px;
        margin-left: auto;
        margin-right: 15px;
    }

    .keep button {
        padding: 0px;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 30px;
        transition: color 0.3s ea
    }

    .keep-button:hover .fa-bookmark {
        color:rgb(165, 25, 25);
    }

.feedback {
    height: 3%;
    align-content: center;
    padding: 10px;
    font-size: 13px;
}

.count {
    color: rgb(165, 25, 25);
}

.description {
    align-content: center;
    padding: 10px;
    align-content: end;
    text-align: justify;
    font-size: 13px;
    hyphens: auto;
}


      